@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html *{
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #223890;
}
.container {
    display: flex;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}
