<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="/js/login.js"></script>
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="container">
        <div class="login">
            <h2 class="flexitem">Login</h2>
            <select class="flexitem" id="dropdown" onchange="selectFunction()">
                <option value="" selected>Select an option</option>
                <option value="student" id="student">Student</option>
                <option value="admin" id="admin">Admin</option>
            </select>
            <form id="aForm" action="/admin" method="post" style="display: none;">
                <div class="login">
                    <h2 class="flexitem">Admin Login</h2>
                    <div class="flexitem">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="flexitem">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="flexitem">
                        <form action="/admin" method="POST">
                            <button type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </form>

            <form id="sForm" action="/student" method="post" style="display: none;">
                <div class="login">
                    <h2 class="flexitem">Student Login</h2>
                    <div class="flexitem">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="flexitem">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="flexitem">
                        <form action="/student" method="POST">
                            <button type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>